<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homestyle.css">
    <title>Document</title>
</head>
<body>
    <details class="open-account">
        <summary>Open an account</summary>
        <div class="open-account">
            <form action="/create-customer" method="POST">
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="accountNo" placeholder="Account Number" required>
                <input type="text" name="passcode" placeholder="Passcode" required>
                <input type="hidden" name="balance" value="0" required>
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
    </details>
    <div id="container">
        <div id="enquiry">
            <h2>Get Account Details</h2>
            <form action="/enquiry" method="POST">
                <input type="text" name="accountNo" placeholder="Account No." required>
                <input type="password" name="passcode" placeholder="Passcode">
                <input class="btn" type="submit" value="Get Details">
            </form>
        </div>

        <div id="deposit">
            <h2>Deposit in Account</h2>
            <form action="/deposit" method="POST">
                <input type="text" name="accountNo" placeholder="Account No." required>
                <input type="password" name="passcode" placeholder="Passcode">
                <input type="number" name="deposit" required placeholder="Deposit Amount">
                <input class="btn" type="submit" value="Deposit">
            </form>
        </div>

        <div id="withdraw">
            <h2>Withdraw from Account</h2>
            <form action="/withdraw" method="POST">
                <input type="text" name="accountNo" placeholder="Account No." required>
                <input type="password" name="passcode" placeholder="Passcode">
                <input type="number" name="withdraw" required placeholder="Withdraw Amount">
                <input class="btn" type="submit" value="Withdraw">
            </form>
        </div>

        <div id="transaction">
            <h2>Make a transaction</h2>
            <form action="/transaction" method="POST">
                <input type="number" name="amount" required placeholder="Amount">
                <br>

                <div>To</div>
                <input type="number" name="receiverAccNo" required placeholder="Recipient's Accout No.">
                <br>
                From
                <input type="text" name="senderAccNo" placeholder="Sender's Account No." required>
                <input type="password" name="passcode" placeholder="Passcode">
                <input class="btn" type="submit" value="Send">
            </form>
        </div>
    </div>
    
    <div id="message-container">
        <% if(response.show_enquiry == 'true'){ %>
            <div id="show-enquiry" class="message">
                <h2>Bank Details</h2>
                <p>Name: <%= response.customer.name %> <br> Account No.: <%= response.customer.accountNo %> <br> Balance: <%= response.customer.balance %></p>
            </div>
        <% } %>
        <% if(response.show_deposit == 'true'){ %>
                <div id="show-deposit" class="message">
                    <h2>Updated Details: </h2>
                    <p>Name: <%= response.customer.name %> <br> Account No.: <%= response.customer.accountNo %> <br> Balance: <%= response.customer.balance %></p>
                </div>
        <% } %>
        
        <% if(response.show_withdraw == 'true'){ %>
                <div id="show-withdraw" class="message">
                    <h2>Updated Details:</h2>
                    <p>Name: <%= response.customer.name %> <br> Account No.: <%= response.customer.accountNo %> <br> Balance: <%= response.customer.balance %></p>
                </div>
        <% } %>
        
        <% if(response.show_transaction_update == 'true'){ %>
                <div id="show-transaction" class="message">
                    <h2>Your transaction processed <%= response.customer.name%>!</h2>
                    <p><b>Updated Details:</b><br> Account No.: <%= response.customer.accountNo %><br>Balance: <%= response.customer.balance %></p>
                </div>
        <% } %>
        <% if(response.withdraw == 'insufficient'){ %>
                <div id="show-insufficient-funds" class="message">
                    <h2>Insufficient funds!</h2>
                    <p>Name: <%= response.customer.name%> <br> Account No.: <%= response.customer.accountNo %><br>Balance: <%= response.customer.balance %></p>
                </div>
        <% } %>
    </div>
    

</body>
</html>

